<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-4">Name:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.Name">
        </div>    
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Icon File:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.IconFile" placeholder="">
        </div>    
    </div> 
    <div class="form-group">
        <label class="control-label col-sm-4">Multimedia 1:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.Multimedia1" placeholder="">
        </div>    
    </div> 
    <div class="form-group">
        <label class="control-label col-sm-4">Multimedia 2:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.Multimedia2" placeholder="">
        </div>    
    </div> 
    <div class="form-group">
        <label class="control-label col-sm-4">Multimedia 3:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.Multimedia3" placeholder="">
        </div>    
    </div> 
    <div class="form-group">
        <label class="control-label col-sm-4">FreeText 1:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.Freetext1" placeholder="">
        </div>    
    </div> 
    <div class="form-group">
        <label class="control-label col-sm-4">FreeText 2:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.Freetext2" placeholder="">
        </div>    
    </div> 
    <div class="form-group">
        <label class="control-label col-sm-4">FreeText 3:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.Freetext3" placeholder="">
        </div>    
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Header File:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.HeaderFile" placeholder="">
        </div>    
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Highlight Color:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.HighlightColor" placeholder="">
        </div>    
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Background Color:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.BackgroundColor" placeholder="">
        </div>    
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Text Color:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="selectedProgram.TextColor" placeholder="">
        </div>    
    </div>
</form> 